######################################################################
# Build Tools

.omo/
/bin
.github
.codegraph


.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp
*.class

# 日志目录
logs/

# macOS
.DS_Store

# VS Code
.vscode/

# 环境配置文件（包含敏感信息，不提交git）
**/application-dev.yml
**/application-prod.yml

# 上游残留（不跟踪）
.github/FUNDING.yml
