<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.EventMapper">
    
    <resultMap type="Event" id="EventResult">
    	<id     property="id"           column="id"           />
        <result property="name"         column="name"         />
        <result property="location"     column="location"     />
        <result property="startTime"    column="start_time"   />
        <result property="signupStart"  column="signup_start" />
        <result property="signupEnd"    column="signup_end"   />
        <result property="totalQuota"   column="total_quota"  />
        <result property="registered"   column="registered"   />
        <result property="signupOpen"   column="signup_open"  />
        <result property="status"       column="status"       />
        <result property="coverUrl"     column="cover_url"    />
        <result property="intro"        column="intro"        />
        <result property="registrationCount" column="registration_count" />
        <result property="createTime"   column="create_time"  />
        <result property="updateTime"   column="update_time"  />
    </resultMap>
    
    <sql id="selectEventVo">
        select e.id, e.name, e.location, e.start_time, e.signup_start, e.signup_end, e.total_quota, e.registered, e.signup_open, e.status, e.cover_url, e.intro, e.create_time, e.update_time,
               (select count(*) from registration r where r.event_id = e.id and r.status != 2) as registration_count
		from `event` e
    </sql>
    
    <select id="selectEventById" parameterType="Long" resultMap="EventResult">
        <include refid="selectEventVo"/>
        where e.id = #{id}
    </select>
    
    <select id="selectEventList" parameterType="Event" resultMap="EventResult">
        <include refid="selectEventVo"/>
        <where>  
			<if test="name != null and name != ''">
				AND e.name like concat('%', #{name}, '%')
			</if>
			<if test="location != null and location != ''">
				AND e.location like concat('%', #{location}, '%')
			</if>
			<if test="startTime != null">
				AND e.start_time = #{startTime}
			</if>
			<if test="signupOpen != null">
				AND e.signup_open = #{signupOpen}
			</if>
			<if test="status != null">
				AND e.status = #{status}
			</if>
		</where>
        order by e.start_time desc
    </select>
    
    <insert id="insertEvent" parameterType="Event" useGeneratedKeys="true" keyProperty="id">
        insert into `event` (
			<if test="name != null and name != ''">name,</if>
			<if test="location != null and location != ''">location,</if>
			<if test="startTime != null">start_time,</if>
			<if test="signupStart != null">signup_start,</if>
			<if test="signupEnd != null">signup_end,</if>
			<if test="totalQuota != null">total_quota,</if>
			<if test="registered != null">registered,</if>
			<if test="signupOpen != null">signup_open,</if>
			<if test="status != null">status,</if>
			<if test="coverUrl != null and coverUrl != ''">cover_url,</if>
			<if test="intro != null">intro,</if>
 			create_time
        )values(
			<if test="name != null and name != ''">#{name},</if>
			<if test="location != null and location != ''">#{location},</if>
			<if test="startTime != null">#{startTime},</if>
			<if test="signupStart != null">#{signupStart},</if>
			<if test="signupEnd != null">#{signupEnd},</if>
			<if test="totalQuota != null">#{totalQuota},</if>
			<if test="registered != null">#{registered},</if>
			<if test="signupOpen != null">#{signupOpen},</if>
			<if test="status != null">#{status},</if>
			<if test="coverUrl != null and coverUrl != ''">#{coverUrl},</if>
			<if test="intro != null">#{intro},</if>
 			sysdate()
		)
    </insert>
	 
    <update id="updateEvent" parameterType="Event">
        update `event` 
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="location != null">location = #{location},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="signupStart != null">signup_start = #{signupStart},</if>
            <if test="signupEnd != null">signup_end = #{signupEnd},</if>
            <if test="totalQuota != null">total_quota = #{totalQuota},</if>
            <if test="registered != null">registered = #{registered},</if>
            <if test="signupOpen != null">signup_open = #{signupOpen},</if>
            <if test="status != null">status = #{status},</if>
            <if test="coverUrl != null">cover_url = #{coverUrl},</if>
            <if test="intro != null">intro = #{intro},</if>
 			update_time = sysdate()
        </set>
        where id = #{id}
    </update>
	
    <update id="increaseRegistered" parameterType="Long">
        update `event` set registered = registered + 1 where id = #{id}
    </update>
    
    <update id="decreaseRegistered" parameterType="Long">
        update `event` set registered = registered - 1 where id = #{id}
    </update>
	
    <delete id="deleteEventById" parameterType="Long">
        delete from `event` where id = #{id}
    </delete>
    
    <delete id="deleteEventByIds" parameterType="Long">
        delete from `event` where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
        	#{id}
        </foreach>
    </delete>
    
</mapper>
