<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PassRecordMapper">
    
    <resultMap type="PassRecord" id="PassRecordResult">
    	<id     property="id"         column="id"          />
        <result property="eventId"    column="event_id"    />
        <result property="cameraId"   column="camera_id"   />
        <result property="bib"        column="bib"         />
        <result property="personId"   column="person_id"   />
        <result property="passTime"   column="pass_time"   />
        <result property="firstArriveTime" column="first_arrive_time" />
        <result property="speed"      column="speed"       />
        <result property="cameraLng"  column="camera_lng"  />
        <result property="cameraLat"  column="camera_lat"  />
        <result property="extra"      column="extra"       />
        <result property="createTime" column="create_time" />
    </resultMap>
    
    <sql id="selectPassRecordVo">
        select id, event_id, camera_id, bib, person_id, pass_time, first_arrive_time, speed, camera_lng, camera_lat, extra, create_time 
		from pass_record
    </sql>
    
    <select id="selectPassRecordById" parameterType="Long" resultMap="PassRecordResult">
        <include refid="selectPassRecordVo"/>
        where id = #{id}
    </select>
    
    <select id="selectPassRecordList" parameterType="PassRecord" resultMap="PassRecordResult">
        <include refid="selectPassRecordVo"/>
        <where>  
			<if test="eventId != null">
				AND event_id = #{eventId}
			</if>
			<if test="cameraId != null and cameraId != ''">
				AND camera_id = #{cameraId}
			</if>
			<if test="bib != null and bib != ''">
				AND bib = #{bib}
			</if>
			<if test="personId != null and personId != ''">
				AND person_id = #{personId}
			</if>
			<if test="passTime != null">
				AND pass_time = #{passTime}
			</if>
		</where>
        order by pass_time desc
    </select>
    
    <insert id="insertPassRecord" parameterType="PassRecord" useGeneratedKeys="true" keyProperty="id">
        insert into pass_record (
			<if test="eventId != null">event_id,</if>
			<if test="cameraId != null and cameraId != ''">camera_id,</if>
			<if test="bib != null and bib != ''">bib,</if>
			<if test="personId != null and personId != ''">person_id,</if>
			<if test="passTime != null">pass_time,</if>
			<if test="firstArriveTime != null">first_arrive_time,</if>
			<if test="speed != null">speed,</if>
			<if test="cameraLng != null">camera_lng,</if>
			<if test="cameraLat != null">camera_lat,</if>
			<if test="extra != null">extra,</if>
 			create_time
        )values(
			<if test="eventId != null">#{eventId},</if>
			<if test="cameraId != null and cameraId != ''">#{cameraId},</if>
			<if test="bib != null and bib != ''">#{bib},</if>
			<if test="personId != null and personId != ''">#{personId},</if>
			<if test="passTime != null">#{passTime},</if>
			<if test="firstArriveTime != null">#{firstArriveTime},</if>
			<if test="speed != null">#{speed},</if>
			<if test="cameraLng != null">#{cameraLng},</if>
			<if test="cameraLat != null">#{cameraLat},</if>
			<if test="extra != null">#{extra},</if>
 			sysdate()
		)
    </insert>
	
    <insert id="batchInsertPassRecord">
        insert into pass_record (event_id, camera_id, bib, person_id, pass_time, speed, camera_lng, camera_lat, extra, create_time) values
        <foreach item="item" collection="list" separator=",">
            (#{item.eventId}, #{item.cameraId}, #{item.bib}, #{item.personId}, #{item.passTime}, #{item.speed}, #{item.cameraLng}, #{item.cameraLat}, #{item.extra}, sysdate())
        </foreach>
    </insert>
    
    <delete id="deletePassRecordByIds" parameterType="Long">
        delete from pass_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
        	#{id}
        </foreach>
    </delete>

    <select id="selectArrivalsByEventAndBib" resultType="com.ruoyi.system.domain.vo.PassArrivalVo">
        select bib, camera_id as cameraId, min(pass_time) as arriveTime
        from pass_record
        where event_id = #{eventId} and bib = #{bib}
        group by camera_id, bib
        order by arriveTime asc
    </select>

    <select id="selectAllArrivalsByEvent" resultType="com.ruoyi.system.domain.vo.PassArrivalVo">
        select bib, camera_id as cameraId, min(pass_time) as arriveTime
        from pass_record
        where event_id = #{eventId}
        group by bib, camera_id
        order by bib, arriveTime asc
    </select>

    <select id="selectHeatRecordsByEvent" resultType="com.ruoyi.system.domain.vo.HeatRecordVo">
        select pr.camera_id as cameraId, pr.bib, pr.person_id as personId, p.name as personName, min(pr.pass_time) as arriveTime
        from pass_record pr
        left join person p on p.id = pr.person_id
        where pr.event_id = #{eventId}
        group by pr.camera_id, pr.bib, pr.person_id, p.name
        order by pr.camera_id, arriveTime asc
    </select>
    
</mapper>
